<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch Collector | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <nav class="navbar is-dark">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'home' %}">Home</a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'about' %}">About</a>
                <a class="navbar-item" href="{% url 'index' %}">All Watches</a>
                <a class="navbar-item" href="{% url 'brand_index' %}">All Brands</a>
                <a class="navbar-item" href="{% url 'collection_index' %}">All Collections</a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Manage Watches</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{% url 'add_collection' %}">Add Collection</a>
                        <a class="navbar-item" href="{% url 'add_brand' %}">Add Brand</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container is-max-desktop">
        {% block content %}{% endblock %}
    </div>
</body>
</html>