{% extends 'base.html' %}
{% block title %}
{{ brand.name }}
{% endblock %}
{% block content %}
<h1 class="title is-1">{{ brand.name }}</h1>
{% if user.is_authenticated %}
<button class="button is-danger"><a href="/brands/{{brand.id}}/delete">Delete Brand</a></button>
{% endif %}
<div class="columns is-multiline">
    {% for watch in brand.watches.all %}
    <div class="column is-one-quarter">
        <a href="{% url 'inspect' watch.pk %}">
            <div class="card">
                <div class="card-image">
                    <figure class="image">
                        <img src="{{watch.image}}" />
                    </figure>
                </div>
                <div class="card-content">
                    <h3 class="title is-3">{{watch.name}}</h3>
                    <p>Size: {{watch.size}}</p>
                    <p>Color: {{watch.primary_color}}</p>
                </div>
            </div>
        </a>
        {% if user.is_authenticated %}
        {% for collection in collections %}
        <button class="button"><a href="{% url 'collection_watch_assoc' collection.pk watch.pk %}?assoc=add">Add to Collection: {{collection.name}}</a></button>
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
</div>
{% if user.is_authenticated %}
<h2 class="title is-2">Add Watch to Brand</h2>
<form action="{% url 'add_watch' brand.pk %}" method="POST">
    {% csrf_token %}
    <div class="field has-addons">
        <div class="control">
            <input
                class="input"
                type="text"
                name="name"
                placeholder="name"
                required
            />
        </div>
        <div class="control">
            <input
                class="input"
                type="text"
                name="size"
                placeholder="size"
                required
            />
        </div>
        <div class="control">
            <input
                class="input"
                type="text"
                name="image"
                placeholder="image url"
                required
            />
        </div>
        <div class="select">
            <select
                class="select"
                name="primary_color"
                required
            >
                <option value="black">Black</option>
                <option value="white">White</option>
                <option value="brown">Brown</option>
                <option value="gold">Gold</option>
                <option value="silver">Silver</option>
            </select>
        </div>
        <div class="control">
            John Mayer owns?
            <label class="radio">
                Yes
                <input
                    class="radio"
                    type="radio"
                    name="jm_owns"
                    value="True"
                />
            </label>
            <label class="radio">
                No
                <input
                    class="radio"
                    type="radio"
                    name="jm_owns"
                    value="False"
                />
            </label>
        </div>
        <div class="control">
            <input class="button is-primary" type="submit" value="Add Watch" />
        </div>
    </div>
</form>
{% endif %}
{% endblock %}