{% extends 'base.html' %}
{% block title %}
All Collections
{% endblock %}
{% block content %}
<div class="columns is-vcentered">
    <div class="column">
        <h1 class="title is-1 mx-5">All Collections</h1>
    </div>
    <div class="column">
        <a class="button is-primary m-5" href="{% url 'add_collection' %}">Add Collection</a>
    </div>
</div>
{% if collections %}
<div class="columns is-multiline mx-5">
    {% for collection in collections %}
    <div class="column is-one-quarter">
        <a href="{% url 'collection_inspect' collection.pk %}">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-square">
                        <img src="{{collection.watches.first.image}}" style="object-fit: cover;">
                    </figure>
                </div>
                <div class="card-content">
                    <h3 class="title is-5">{{collection.name}}</h3>
                    <ul>
                        {% for watch in collection.watches.all|slice:":3" %}
                        <li><a href="/watches/{{watch.pk}}" class="is-size-7">{{watch.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% else %}
{% if user.is_authenticated %}
<p>You have no collections.</p>
<a class="button is-primary" href="/collections/new">Create Collection</a>
{% else %}
<p>You are not signed in. <a>Create an account</a> or <a href="{% url 'login' %}">log in</a> to manage collections.</p>
{% endif %}
{% endif %}
{% endblock %}